In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df=pd.read_csv("Untitled 5.csv")
df.tail()

   company     job     degree  salary six fig
10  Amazon  mkting  bachelors               0
11  Amazon   sales    masters               1
12  Andela   sales    masters               1
13  Andela     dev  bachelors               1
14  Andela  mkting  bachelors               0

In [5]:
#slipting the data into two input variable and the target varaiable
input=df.drop('salary six fig',axis='columns')
input.head()

    company    job     degree
0    google  sales  bachelors
1    google    dev  bachelors
2    google  sales    masters
3    google  sales    masters
4  facebook    dev  bachelors

In [7]:
traget=df['salary six fig']
traget.head()

0    0
1    1
2    1
3    1
4    1
Name: salary six fig, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_company=LabelEncoder()
le_job=LabelEncoder()

le_degree=LabelEncoder()

In [16]:
#creating the dataframe with those encoders
input['company']=le_company.fit_transform(input['company'])
input['job']= le_company.fit_transform(input['job'])
input['degree']=le_company.fit_transform(input['degree'])
input.head()

   company  job  degree
0        3    2       0
1        3    0       0
2        3    2       1
3        3    2       1
4        2    0       0

In [19]:
input.tail()

    company  job  degree
10        0    1       0
11        0    2       1
12        1    2       1
13        1    0       0
14        1    1       0

In [20]:
# importing the model for decision tree
from sklearn import tree

In [23]:
# we are trainging the model
model= tree.DecisionTreeClassifier()
model.fit(input,traget)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
### checking the score of the model
model.score(input,traget)

1.0

In [25]:
#predicting the salary
model.predict([[1,1,0]])

array([0])

In [26]:
model.predict([[1,0,0]])

array([1])